<div class="bg-white">
    <div class="container">
      <div class="logo-area">
          <div class="row align-items-center">
            <div class="logo col-lg-3 text-center text-lg-left mb-3 mb-md-5 mb-lg-0">
                {{!-- Edit this link --}}
                <a class="d-block" href="/">
                  <img loading="lazy" src="/images/sgunigo-logo.svg" alt="sgunigo">
                </a>
            </div><!-- logo end -->
  
            <div class="col-lg-9 header-right">
                <ul class="top-info-box">
                  <li>
                    <div class="info-box">
                      <div class="info-box-content">
                          <p class="info-box-title">Call Us</p>
                          <p class="info-box-subtitle">(+65) 6808 7960</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="info-box">
                      <div class="info-box-content">
                          <p class="info-box-title">Email Us</p>
                          <p class="info-box-subtitle">sgunigo@gov.edu.sg</p>
                      </div>
                    </div>
                  </li>

                  <li class="header-get-a-quote">
                    <a class="btn btn-info" href="/adminlogin">Admin Login</a>
                  </li>
                  <li class="header-get-a-quote">
                    <a class="btn btn-danger" href="/login">Applicant Login</a>
                  </li>
                 
                </ul><!-- Ul end -->
            </div><!-- header right end -->
          </div><!-- logo area end -->
  
      </div><!-- Row end -->
    </div><!-- Container end -->
  </div>