<!-- Basic Page Needs ========== -->
  <meta charset="utf-8">
  <title>SGUniGo</title>
  <link rel="icon" href="/images/icon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Mobile Specific Metas ================ -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Construction Html5 Template">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">

  <!-- Favicon ============== -->
  <link rel="icon" type="image/png" href="/images/favicon.png">

  <!-- CSS ============== -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
  <!-- FontAwesome -->
  <link rel="stylesheet" href="/fontawesome/css/all.min.css">
  <!-- Animation -->
  <link rel="stylesheet" href="/animate-css/animate.css">
  <!-- slick Carousel -->
  <link rel="stylesheet" href="/slick/slick.css">
  <link rel="stylesheet" href="/slick/slick-theme.css">
  <!-- Colorbox -->
  <link rel="stylesheet" href="/colorbox/colorbox.css">
  <!-- Template styles-->
  <link rel="stylesheet" href="/css/style.css">