<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Basic Page Needs ========== -->
  <meta charset="utf-8">
  <title>SGUniGo</title>
  <link rel="icon" href="/images/icon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Mobile Specific Metas ================ -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Construction Html5 Template">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">

  <!-- Favicon ============== -->
  <link rel="icon" type="image/png" href="/images/favicon.png">

  <!-- CSS ============== -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
  <!-- FontAwesome -->
  <link rel="stylesheet" href="/fontawesome/css/all.min.css">
  <!-- Animation -->
  <link rel="stylesheet" href="/animate-css/animate.css">
  <!-- slick Carousel -->
  <link rel="stylesheet" href="/slick/slick.css">
  <link rel="stylesheet" href="/slick/slick-theme.css">
  <!-- Colorbox -->
  <link rel="stylesheet" href="/colorbox/colorbox.css">
  <!-- Template styles-->
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div class="body-inner">
        {{> _top_bar}}
        <!-- Header start -->
        <header id="header" class="header-one">
          {{> _main_bar_logout}}
        </header>
        <!--/ Header end -->

  {{{body}}}

  {{> _footer}}

  <!-- Javascript Files ==== -->

  <!-- initialize jQuery Library -->
  <script src="/jQuery/jquery.min.js"></script>
  <!-- Bootstrap jQuery -->
  <script src="/bootstrap/bootstrap.min.js" defer></script>
  <!-- Slick Carousel -->
  <script src="/slick/slick.min.js"></script>
  <script src="/slick/slick-animation.min.js"></script>
  <!-- Color box -->
  <script src="/colorbox/jquery.colorbox.js"></script>
  <!-- shuffle -->
  <script src="/shuffle/shuffle.min.js" defer></script>
  <!-- Google Map API Key-->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU" defer></script>
  <!-- Google Map Plugin-->
  <script src="/google-map/map.js" defer></script>

  <!-- Materialize JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!-- Template custom -->
  <script src="/js/script.js"></script>

  </div><!-- Body inner end -->
</body>