<!-- Banner -->

<div class="banner-carousel banner-carousel-1 mb-0">
  <div class="banner-carousel-item" style="background-image:url(../images/slider-main/smulaw.jpg)">
    <div class="slider-content">
        <div class="container h-100">
          <div class="row align-items-center h-100">
              <div class="col-md-12 text-center">
                <h2 class="slide-title" data-animation-in="slideInLeft">20 Years of excellence</h2>
                <h3 class="slide-sub-title" data-animation-in="slideInRight">An Education For Tomorrow</h3>
                <p data-animation-in="slideInLeft" data-duration-in="1.2">
                </p>
              </div>
          </div>
        </div>
    </div>
  </div>

  <div class="banner-carousel-item" style="background-image:url(../images/slider-main/smucampus.jpg)">
    <div class="slider-content text-left">
        <div class="container h-100">
          <div class="row align-items-center h-100">
              <div class="col-md-12">
                <h2 class="slide-title-box" data-animation-in="slideInDown">World Class Service</h2>
                <h3 class="slide-title" data-animation-in="fadeIn">When Education Matters</h3>
                <h3 class="slide-sub-title" data-animation-in="slideInLeft">Your Choice is Simple</h3>
                <p data-animation-in="slideInRight">
                </p>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>

<section id="facts" class="facts-area dark-bg">
  <div class="container">
    <div class="facts-wrapper">
        <div class="row d-flex justify-content-center">
          <div class="col-md-3 col-sm-6 ts-facts">
              <div class="ts-facts-img">
                <img loading="lazy" src="/images/icon-image/service-icon1.png" alt="facts-img">
              </div>
              <div class="ts-facts-content">
                <h2 class="ts-facts-num"><span class="counterUp" data-count="6">0</span></h2>
                <h3 class="ts-facts-title">Universities</h3>
              </div>
          </div><!-- Col end -->

          <div class="col-md-3 col-sm-6 ts-facts mt-5 mt-sm-0">
              <div class="ts-facts-img">
                <img loading="lazy" src="/images/icon-image/service-icon4.png" alt="facts-img">
              </div>
              <div class="ts-facts-content">
                <h2 class="ts-facts-num"><span class="counterUp" data-count="134">0</span></h2>
                <h3 class="ts-facts-title">Courses</h3>
              </div>
          </div><!-- Col end -->
        </div> <!-- Facts end -->
    </div>
    <!--/ Content row end -->
  </div>
  <!--/ Container end -->
</section><!-- Facts end -->

<section id="project-area" class="project-area solid-bg">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12">
        <h2 class="section-title">Education of Excellence</h2>
        <h3 class="section-sub-title">Universities</h3>
      </div>
    </div>
    <!--/ Title row end -->

    <!-- Body -->

    <div class="row">
      <div class="col-12">
        <div class="shuffle-btn-group">
          <label class="active" for="all">
            <input type="radio" name="shuffle-filter" id="all" value="all" checked="checked">Show All
          </label>
          <label for="nus">
            <input type="radio" name="shuffle-filter" id="nus" value="nus">NUS
          </label>
          <label for="ntu">
            <input type="radio" name="shuffle-filter" id="ntu" value="ntu">NTU
          </label>
          <label for="smu">
            <input type="radio" name="shuffle-filter" id="smu" value="smu">SMU
          </label>
          <label for="sit">
            <input type="radio" name="shuffle-filter" id="sit" value="sit">SIT
          </label>
          <label for="suss">
            <input type="radio" name="shuffle-filter" id="suss" value="suss">SUSS
          </label>
          <label for="sutd">
            <input type="radio" name="shuffle-filter" id="sutd" value="sutd">SUTD
          </label>
        </div><!-- project filter end -->


        <div class="row shuffle-wrapper">
          <div class="col-1 shuffle-sizer"></div>

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;nus&quot;]">
            <div class="project-img-container">
              <a class="gallery-popup" href="/images/university/nus.jpg" aria-label="project-img">
                <img class="img-fluid" src="/images/university/nus.jpg" alt="project-img">
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title">NUS
                  </h3>
                  <p class="project-cat">National University of Singapore</p>
                </div>
              </div>
            </div>
          </div><!-- shuffle item 1 end -->

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;ntu&quot;]">
            <div class="project-img-container">
              <a class="gallery-popup" href="/images/university/ntu.jpg" aria-label="project-img">
                <img class="img-fluid" src="/images/university/ntu.jpg" alt="project-img">
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title">NTU
                  </h3>
                  <p class="project-cat">Nanyang Technological University</p>
                </div>
              </div>
            </div>
          </div><!-- shuffle item 2 end -->

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;smu&quot;]">
            <div class="project-img-container">
              <a class="gallery-popup" href="/images/university/smu.jpg" aria-label="project-img">
                <img class="img-fluid" src="/images/university/smu.jpg" alt="project-img">
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title">
                    SMU
                  </h3>
                  <p class="project-cat">Singapore Management University</p>
                </div>
              </div>
            </div>
          </div><!-- shuffle item 3 end -->

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;sit&quot;]">
            <div class="project-img-container">
              <a class="gallery-popup" href="/images/university/sit.png" aria-label="project-img">
                <img class="img-fluid" src="/images/university/sit.png" alt="project-img">
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title">
                    SIT
                  </h3>
                  <p class="project-cat">Singapore Institute of Technology</p>
                </div>
              </div>
            </div>
          </div><!-- shuffle item 4 end -->

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;suss&quot;]">
            <div class="project-img-container">
              <a class="gallery-popup" href="/images/university/suss.jpg" aria-label="project-img">
                <img class="img-fluid" src="/images/university/suss.jpg" alt="project-img">
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title">
                    SUSS
                  </h3>
                  <p class="project-cat">Singapore University of Social Sciences</p>
                </div>
              </div>
            </div>
          </div><!-- shuffle item 5 end -->

          <div class="col-lg-4 col-md-6 shuffle-item" data-groups="[&quot;sutd&quot;]">
            <div class="project-img-container">
              <a class="gallery-popup" href="/images/university/sutd.jpg" aria-label="project-img">
                <img class="img-fluid" src="/images/university/sutd.jpg" alt="project-img">
                <span class="gallery-icon"><i class="fa fa-plus"></i></span>
              </a>
              <div class="project-item-info">
                <div class="project-item-info-content">
                  <h3 class="project-item-title">
                    SUTD
                  </h3>
                  <p class="project-cat">Singapore University of Technology and Design</p>
                </div>
              </div>
            </div>
          </div><!-- shuffle item 6 end -->
        </div><!-- shuffle end -->
      </div>

      <div class="col-12">
        <div class="general-btn text-center">
          <a class="btn btn-danger" href="/login">Apply via SingPass</a>
        </div>
      </div>

    </div><!-- Content row end -->
  </div>
  <!--/ Container end -->
</section><!-- Project area end -->