<div class="banner-carousel banner-carousel-1 mb-0">
  <div class="banner-carousel-item" style="background-image:url(/images/university/smuscis.jpg)">
    <div class="slider-content">
        <div class="container h-100">
          <div class="row align-items-center h-100">
              <div class="col-md-12 text-center">
                <h2 class="slide-title" data-animation-in="slideInLeft">University Admin Page</h2>
                <h3 class="slide-sub-title" data-animation-in="slideInRight">Applicant List</h3>
                <p data-animation-in="slideInLeft" data-duration-in="1.2">
                </p>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>

<section id="main-container" class="main-container">
    <div class="sized-container special">
        <div class="row text-center">
            <div class="col-12">
            <!--<h2 class="section-title">SMU Application list</h2>-->
            <h3 class="section-sub-title">SMU Applicant list</h3>
            
            </div>
        </div>

        <br>
        <div class="form-group">
            <div class="form-group">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th rowspan="2" >No.</th>
                            <th rowspan="2">Name</th>
                            <th rowspan="2">NRIC</th>
                            <th rowspan="2">Grades</th>
                            <th rowspan="2">Nationality</th>
                            <th rowspan="2">Email</th>
                            <th rowspan="2">Address</th>
                            <th rowspan="2">Mobile No.</th>
                            <th colspan="3" style="text-align: center;">Courses</th>
                            <th rowspan="2">Personal Statement</th>
                        </tr>
                        <tr>
                            <th>1st Choice</th>
                            <th>2nd Choice</th>
                            <th>3rd Choice</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark Lee</td>
                            <td>S9912345A</td>
                            <td>AAB/B</td>
                            <td>Singaporean</td>
                            <td>marklee@nct.com</td>
                            <td>SM Building</td>
                            <td>(+65)81112222</td>
                            <td>Computer Science</td>
                            <td>Computing and Law</td>
                            <td>Accountancy</td>
                            <td>Eat.Sleep.Code</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jung Jaehyun</td>
                            <td>S9754321B</td>
                            <td>BBA/A</td>
                            <td>Singaporean</td>
                            <td>jaehyun@nct.com</td>
                            <td>SM other Building</td>
                            <td>(+65)82221111</td>
                            <td>Business Administration</td>
                            <td>Accountancy</td>
                            <td>Economics</td>
                            <td>I wanna be rich</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Dandall Ruran</td>
                            <td>S8067890C</td>
                            <td>BBC/C</td>
                            <td>British</td>
                            <td>dandallruran@wooclap.com</td>
                            <td>Victoria Street</td>
                            <td>(+44)123456789</td>
                            <td>Social Science</td>
                            <td>Business Administration</td>
                            <td>Information Systems</td>
                            <td>I have interest in helping others.</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Mary</td>
                            <td>T0209876D</td>
                            <td>BBA/A</td>
                            <td>Singaporean</td>
                            <td>mary@gmail.com</td>
                            <td>Lamb Road</td>
                            <td>(+65)88889999</td>
                            <td>Information Systems</td>
                            <td>Business Administration</td>
                            <td>Accountancy</td>
                            <td>IT can make money</td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>William</td>
                            <td>T0113579E</td>
                            <td>CBB/A</td>
                            <td>Singaporean</td>
                            <td>will.i.am@gmail.com</td>
                            <td>Hammington Street</td>
                            <td>(+65)987651234</td>
                            <td>Information Systems</td>
                            <td>Business Administration</td>
                            <td>Accountancy</td>
                            <td>I want to be in SCIS</td>
                        </tr>
                    </tbody>
                    </table>
            </div>
        </div>
        
</section>