<section id="main-container" class="main-container">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h2>Hi {{name}},</h2>
                <br>
                <h2 class="section-title">Here are your current</h2>
                <h3 class="section-sub-title">University Applications</h3>
            </div>
        </div>

 <!--/ Title row end -->

    <!-- Body -->
    <div class="row">

        <div class="col-lg-4 col-md-6">
        <div class="ts-pricing-box">
            <div class="ts-pricing-header">
            <h2 class="ts-pricing-name">NUS</h2>
            <h1 class="ts-pricing-price">
                <span class="status">Applied</span>
            </h1>
            </div><!-- Pricing header -->
            <div class="ts-pricing-features">
            <ul class="list-unstyled">
                <li>Please wait for the University's reply</li>
            </ul>
            </div>
        </div><!-- Plan 1 end -->
        </div><!-- Col end -->

        <div class="col-lg-4 col-md-6">
        <div class="ts-pricing-box ts-pricing-featured">
            <div class="ts-pricing-header">
            <h2 class="ts-pricing-name">NTU</h2>
            <h1 class="ts-pricing-price">
                <span class="status">Payment Outstanding</span>
            </h1>
            </div><!-- Pricing header -->
            <div class="plan-action">
            <a href="applications/payment" class="btn btn-primary">Check payments</a>
            </div>
        </div><!-- Plan 2 end -->
        </div><!-- Col end -->

        <div class="col-lg-4 col-md-6">
        <div class="ts-pricing-box">
            <div class="ts-pricing-header">
            <h2 class="ts-pricing-name">SMU</h2>
            <h1 class="ts-pricing-price">
                <span class="currency">Payment Outstanding</span>
            </h1>
            </div><!-- Pricing header -->
            <div class="plan-action">
            <a href="applications/payment" class="btn btn-dark">Check payments</a>
            </div>
        </div><!-- Plan 3 end -->
        </div><!-- Col end -->

    <div class="col-12">
        <div class="general-btn text-center">
            <a class="btn btn-info" href="/applications/apply">New Application</a>
        </div>
    </div>

    
        
    </div>
    <!--/ Container end -->
</section><!-- Project area end -->