<section id="main-container" class="main-container">
    <div class="sized-container special">
        <div class="row text-center">
            <div class="col-12">
            <h2 class="section-title">Here are the list of applicants for SMU</h2>
            <h3 class="section-sub-title">Applicant list</h3>
            </div>
        </div>

        <div class="form-group">
            <div class="form-group">
				<table class="table">
                    <thread>
						<tr>
							<th scope="col">Applicant ID</th>
							<th scope="col">NRIC</th>
                            <th scope="col">NRIC</th>
                            <th scope="col">NRIC</th>
                            <th scope="col">NRIC</th>
                            <th scope="col">NRIC</th>
							<th scope="col">Course Name</th>
                            <th scope="col">NRIC</th>
                            <th scope="col">NRIC</th>
                            <th scope="col">NRIC</th>
                            <th scope="col">NRIC</th>
                            <th scope="col">NRIC</th>
						</tr>
					</thread>

                </table>

        </div>
    </div>
</section>