<section id="main-container" class="main-container">
    <div class="sized-container special">
        <div class="row text-center">
            <div class="col-12">
            <!--<h2 class="section-title">SMU Application list</h2>-->
            <h3 class="section-sub-title"> SMU Applicant list</h3>
            <div class="header">
                <img src="images\university\smu.jpg" alt="logo" width="300" height="200"/>
                
            </div>
            </div>
        </div>

        <br>
        <div class="form-group">
            <div class="form-group">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">Name</th>
                            <th scope="col">NRIC</th>
                            <th scope="col">Rank Point</th>
                            <th scope="col">Nationality</th>
                            <th scope="col">Email</th>
                            <th scope="col">Address</th>
                            <th scope="col">Mobile No.</th>
                            <th scope="col">1st Choice </th>
                            <th scope="col">2nd Choice</th>
                            <th scope="col">3rd Choice</th>
                            <th scope="col">Personal Statement</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark Lee</td>
                            <td>S9912345A</td>
                            <td>75</td>
                            <td>Singaporean</td>
                            <td>marklee@nct.com</td>
                            <td>SM Building</td>
                            <td>(+65)81112222</td>
                            <td>Computer Science</td>
                            <td>Computing and Law</td>
                            <td>Accountancy</td>
                            <td>Eat.Sleep.Code</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jung Jaehyun</td>
                            <td>S9754321B</td>
                            <td>70</td>
                            <td>Singaporean</td>
                            <td>jaehyun@nct.com</td>
                            <td>SM other Building</td>
                            <td>(+65)82221111</td>
                            <td>Business Administration</td>
                            <td>Accountancy</td>
                            <td>Economics</td>
                            <td>LI wanna be rich</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Dandall Ruran</td>
                            <td>S8067890C</td>
                            <td>80</td>
                            <td>British</td>
                            <td>dandallruran@wooclap.com</td>
                            <td>Victoria Street</td>
                            <td>(+44)123456789</td>
                            <td>Social Science</td>
                            <td>Business Administration</td>
                            <td>Information Systems</td>
                            <td>I have interest in helping others.</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Mary</td>
                            <td>T0209876D</td>
                            <td>68</td>
                            <td>Singaporean</td>
                            <td>mary@gmail.com</td>
                            <td>Lamb Road</td>
                            <td>(+65)88889999</td>
                            <td>Information Systems</td>
                            <td>Business Administration</td>
                            <td>Accountancy</td>
                            <td>IT can make money</td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>William</td>
                            <td>T0113579E</td>
                            <td>71.5</td>
                            <td>Singaporean</td>
                            <td>will.i.am@gmail.com</td>
                            <td>Hammington Street</td>
                            <td>(+65)987651234</td>
                            <td>Information Systems</td>
                            <td>Business Administration</td>
                            <td>Accountancy</td>
                            <td>I want to be in SCIS</td>
                        </tr>
                    </tbody>
                    </table>
            </div>
        </div>
        
</section>