<!-- Body -->
<section id="main-container" class="main-container">
  <div class="container">
    <!-- SingPass Login -->

    <h4 class="text-darken-3">Login</h4>
    <div class="section">
        <p class="lead">Login or create your account via Google.</p>
    </div>

    <div class="divider"></div>
    <br>
    <div class="section">
        <a href="/auth/google" class="btn red darken-1">
            <i class="fab fa-google left"></i> Log In With Google
        </a>
    </div>
    
  </div>
  <!--/ Container end -->
</section><!-- Project area end -->