<!DOCTYPE html>
<html lang="en">
<head>
  {{> _main_head}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>

  <div class="body-inner">
    
    {{> _top_bar}}

    {{{body}}}

    {{> _footer}}

    {{> _scripts}}
    
    <script src="/js/admin.js"></script>
  </div>
</body>