<!DOCTYPE html>
<html lang="en">
<head>
  {{> _main_head}}
</head>

<body>

    <div class="body-inner">
        {{> _top_bar}}
        <!-- Header start -->
        <header id="header" class="header-one">
          {{> _main_bar}}
          {{> _nav_bar}}
        </header>
        <!--/ Header end -->

  {{{body}}}

  {{> _footer}}

  {{> _scripts}}
  {{> _google-maps}}

  </div>
</body>