<!DOCTYPE html>
<html lang="en">
<head>
  {{> _main_head}}
  <script src="/js/paypal.js"></script>
</head>

<body>

  <div class="body-inner">
    
    {{> _top_bar}}
    {{> _main_bar_logout}}

    {{{body}}}

    {{> _footer}}

    {{> _scripts}}

  </div>
</body>